<p id="notice"><%= notice %></p>

<p>
  <b>Style:</b>
  <%= @brewstyle.style %>
</p>

<p>
  <b>Note:</b>
  <%= @brewstyle.note %>
</p>


<%= link_to 'Edit', edit_brewstyle_path(@brewstyle) %> |
<%= link_to 'Back', brewstyles_path %>
