<%= form_for(@ingredientclass) do |f| %>
  <% if @ingredientclass.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ingredientclass.errors.count, "error") %> prohibited this ingredientclass from being saved:</h2>

      <ul>
      <% @ingredientclass.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ingredclass %><br />
    <%= f.text_field :ingredclass %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
