<p id="notice"><%= notice %></p>

<p>
  <b>Batch:</b>
  <%= @tastingnote.batch_id %>
</p>

<p>
  <b>Date:</b>
  <%= @tastingnote.date %>
</p>

<p>
  <b>Taster:</b>
  <%= @tastingnote.taster %>
</p>

<p>
  <b>Temperature:</b>
  <%= @tastingnote.temperature %>
</p>

<p>
  <b>Color:</b>
  <%= @tastingnote.color %>
</p>

<p>
  <b>Head:</b>
  <%= @tastingnote.head %>
</p>

<p>
  <b>Aroma:</b>
  <%= @tastingnote.aroma %>
</p>

<p>
  <b>Taste:</b>
  <%= @tastingnote.taste %>
</p>

<p>
  <b>Body:</b>
  <%= @tastingnote.body %>
</p>

<p>
  <b>Finish:</b>
  <%= @tastingnote.finish %>
</p>

<p>
  <b>Faults:</b>
  <%= @tastingnote.faults %>
</p>

<p>
  <b>Quality:</b>
  <%= @tastingnote.quality %>
</p>

<p>
  <b>Tipicity:</b>
  <%= @tastingnote.tipicity %>
</p>

<p>
  <b>Note:</b>
  <%= @tastingnote.note %>
</p>


<%= link_to 'Edit', edit_tastingnote_path(@tastingnote) %> |
<%= link_to 'Back', tastingnotes_path %>
