<h1>Manage ENUM Fields</h1>
<p>Choose from the options below</p>

<p><%= link_to "Brewmasters", brewmasters_path %> : aka Users.  Note, only one Brewmaster per Batch.</p>
<p><%= link_to "Recipe Sources", recipesources_path %> : Cookbooks, magazines, and other sources of recipes.  If you've created your own
	recipes or gotten them from friends, list those here as well.</p>
<p><%= link_to "Ingredient Classes", ingredientclasses_path %> : The various categories of ingredients.  You shouldn't have to mess with this.</p>
<p><%= link_to "Ingredient Sources", ingredientsources_path %> : Where you buy your ingredients, either storefront or online.</p>
<p><%= link_to "Brew Styles", brewstyles_path %> : The fundamental categories of beer (Pilsner, Stout, Ale, etc).  You shouldn't 
	have to mess with this.</p>
</br>
<p><%= link_to "Return to Main Menu", :controller => "home", :action => "index" %></p>
