<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredient.name %>
</p>

<p>
  <b>Class:</b>
  <%= @ingredient.ingredientclass.ingredclass %>
</p>

<p>
  <b>Source:</b>
  <%= @ingredient.ingredientsource.name %>
</p>

<p>
  <b>Notes:</b>
  <%= @ingredient.note %>
</p>


<%= link_to 'Edit', edit_ingredient_path(@ingredient) %> |
<%= link_to 'Back', ingredients_path %>
