<h1>Listing brewmasters</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brewmasters.each do |brewmaster| %>
  <tr>
    <td><%= brewmaster.name %></td>
    <td><%= brewmaster.note %></td>
    <td><%= link_to 'Show', brewmaster %></td>
    <td><%= link_to 'Edit', edit_brewmaster_path(brewmaster) %></td>
    <td><%= link_to 'Destroy', brewmaster, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brewmaster', new_brewmaster_path %>
