<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @ingredientsource.name %>
</p>

<p>
  <b>Address1:</b>
  <%= @ingredientsource.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @ingredientsource.address2 %>
</p>

<p>
  <b>Phone:</b>
  <%= @ingredientsource.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @ingredientsource.email %>
</p>

<p>
  <b>Url:</b>
  <%= @ingredientsource.url %>
</p>

<p>
  <b>Note:</b>
  <%= @ingredientsource.note %>
</p>


<%= link_to 'Edit', edit_ingredientsource_path(@ingredientsource) %> |
<%= link_to 'Back', ingredientsources_path %>
