<h1>Listing brewnames</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @brewnames.each do |brewname| %>
  <tr>
    <td><%= brewname.name %></td>
    <td><%= brewname.note %></td>
    <td><%= link_to 'Show', brewname %></td>
    <td><%= link_to 'Edit', edit_brewname_path(brewname) %></td>
    <td><%= link_to 'Destroy', brewname, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Brewname', new_brewname_path %>
